body {
  font-family: "Lato", sans-serif;
}

#chart-container{
    width: 640px;
    height: auto;
}


/* Responsive Iframe Code*/
.wrapper {
    position: relative;
    margin-top: 5%;
    padding-bottom: 100%; /* 16:9 */
    padding-top: 40px;
    height: 0;
}
.wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Responsive Iframe Code Ends*/

/*Fixed Header*/
.header {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.header a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  background: #ddd;
  color: black;
}
/*Fixed Header Ends*/

#myUtilities{
  display: none;
  list-style-type: none;
}

/*Nav Bar Code */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav li {
  padding: 0px 8px 0px 0px;
  transition: 0.5s;
}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px; }
  .sidenav a {font-size: 18px;}
}
/*Nav Bar Code Ends*/

.container-2 {
padding-top: 15px;
}